*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#mainpageblock{
    height: 100vh;
    background-image: url(animated1.jpg);
    background-position: center;
    background-size: cover;
}
.margenltor{
    margin-right: 50px;
    margin-left: 50px;
}
.logo{
    margin-top: 20px;
    width: 125px;
}
.square{
    height: 12px;
    width: 12px;
    display: inline-block;
    background: black;
    margin: 15px 0;
}
li{
    font-size: 18px;
    line-height: 18px;
    color: black;
}
.mainpageblock-text button{
    margin-top: 20px;
    margin-bottom: 60px;
}
.linea-1{
    width: 12px;
    height: 12px;
    background: black;
    display: inline-block;
}
.linea-2{
    width: 90px;
    height: 2px;
    background: black;
    display: inline-block;
}
.linea-3{
    width: 70px;
    height: 1px;
    background: black;
    display: inline-block;
}
.linea{
    line-height: 8px;
}
#barnavig{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250;
    top: 0;
    background: black;
    z-index: 2;
    transition: .6s;
}
nav ul li{
    list-style: none;
    margin: 80px 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
#menuBoton{
    width: 75px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
    color: transparent;
}
#menuBoton:hover {
    padding: 2.5px 2px;
    border: 3px solid white;
  }

/*----Tableaudash----*/

#Tableaudash{
    padding: 60px 400px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/*----Introduction----*/

#Introduction, #Limitations{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.Introduction-left-col{
    flex-basis: 50%;
}
.Introduction-left-col img{
    width: 100%;
}
.Introduction-right-col{
    flex-basis: 50%;
    text-align: right;
}
.Introduction-text{
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}

/*--Findings--*/

#Findings{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.Findings-left-col{
    flex-basis: 50%;
    width: 100%;
    text-align: right;
}

.Findings-right-col{
    flex-basis: 50%;
    text-align: right;
}
.Findings-text{
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}

/*--Limitations--*/

#Limitations{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.Limitations-left-col{
    flex-basis: 50%;
    width: 100%;
    text-align: right;
}

.Limitations-right-col{
    flex-basis: 50%;
    text-align: right;
}
.Limitations-text{
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}

/*--helplinks--*/

#helplinks{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.helplinks-left-col{
    flex-basis: 50%;
}
.helplinks-left-col img{
    width: 35%;
}
.helplinks-right-col{
    flex-basis: 50%;
    text-align: left;
}
.helplinks-text{
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}
